
body {
    font-family: "Lato", sans-serif;
    background: lightgrey;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.5;
}

.sidenav a{
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#myNavBar{
    font-size:30px;
    cursor:pointer; 
    position: fixed; 
    opacity: 1; 
    transition: opacity 0s;
}



.mySidenav ul,
.mySidenav li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}


.toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

.mySidenav ul .sub-menu li.active,
.mySidenav li .sub-menu li.active {
  color: #d19b3d;
}
.mySidenav ul .sub-menu li.active a,
.mySidenav li .sub-menu li.active a {
  color: #d19b3d;
}
.mySidenav ul .sub-menu li,
.mySidenav li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.mySidenav ul .sub-menu li:hover,
.mySidenav li .sub-menu li:hover {
  background-color: #020203;
}
.mySidenav ul .sub-menu li:before,
.mySidenav li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}





